<launch>
<!-- this launch combine three steps to start gazebo simulation and moveit planning -->
  <include file="$(find my_robot_gazebo_simulation)/launch/demo_gazebo.launch" />
  <include file="$(find my_robot_moveit_config)/launch/move_group.launch" />
  <include file="$(find my_robot_moveit_config)/launch/moveit_rviz.launch">
    <arg name="config" value="True" />
  </include>

</launch>
