<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
  <!-- second top urdf -->
  <!-- include other file -->
  <xacro:include filename="$(find my_robot_description)/urdf/sample_hardware.xacro" />  
  
  <!-- sample_robot_foundation description -->
  <xacro:macro name="sample_robot_foundation" params="parent *origin">
    <sample_robot_foundation_1 parent="${parent}">
      <xacro:insert_block name="origin" />
    </sample_robot_foundation_1>

    <sample_robot_foundation_2 parent="sample_robot_foundation_1_link">
      <origin xyz="-0.058 0 ${0.35+0.004/2}" rpy="0 0 0" />
    </sample_robot_foundation_2>
  </xacro:macro>

  <!-- sample_robot description -->
  <xacro:macro name="sample_robot" params="parent *origin">
    <!-- 1. the first top link and joint -->
    <link name="sample_robot_mounting_link"/>
    <joint name="sample_robot_mounting_joint" type="fixed">
      <xacro:insert_block name="origin" />
      <parent link="${parent}" />
      <child link="sample_robot_mounting_link" />
    </joint>

    <!-- bracket_1 -->
    <bracket_1  parent="sample_robot_mounting_link">
      <origin xyz="0 0 0" rpy="0 0 0" />
    </bracket_1>
    
    <!-- bracket_2 -->
    <bracket_2 parent="bracket_1_link">
      <origin xyz="0 0 0.051" rpy="0 0 0" />
    </bracket_2>

    <!-- bracket_3 -->
    <bracket_3 parent="bracket_2_link">
      <origin xyz="0 0 0.1125" rpy="0 0 0" />
    </bracket_3>

    <!-- bracket_4 -->
    <bracket_4 parent="bracket_3_link">
      <origin xyz="0 0 0.1065" rpy="0 0 0" />
    </bracket_4>

    <!-- bracket_5 -->
    <bracket_5 parent="bracket_4_link">
      <origin xyz="0 0 0.1055" rpy="0 0 0" />
    </bracket_5>

    <!-- bracket_6 -->
    <bracket_6 parent="bracket_5_link">
      <origin xyz="0 0 0.098" rpy="0 0 0" />
    </bracket_6>

    <!-- bracket_7 -->
    <bracket_7 parent="bracket_6_link">
      <origin xyz="0 0 0.0915" rpy="0 0 0" />
    </bracket_7>

    <end_effector parent="bracket_7_link">
      <origin xyz="0 0 0.031" rpy="0 0 0" />
    </end_effector>
  </xacro:macro>
  

</robot>
