<launch>

  <!-- load the contents of yaml file for controller -->
  <rosparam file="$(find my_robot_gazebo_simulation)/config/sample_robot_controller.yaml" command="load" />
  <param name="robot_description" textfile="$(find my_robot_gazebo_simulation)/urdf/simulated_sample.urdf" />

  <include file="$(find gazebo_ros)/launch/empty_world.launch" />

  <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model"
        args="-param robot_description -urdf -model sample_robot" />

  <!-- keep each joint zero -->
  <node name="controller_spawner" pkg="controller_manager"
      type="spawner" args="sample_robot_controller" />

  <!-- add robot_state_publisher, which will do forward kinematics on the joint_states messages and robot model to produce tf messages -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" 
    type="robot_state_publisher" />
</launch>
